<div class="card" style="width: 18rem; margin-top: 1em;">

    <div class="card-body">
        <p class="card-text">nombre:   <%= @inquilino.nombre %> </p>
        <p class="card-text">apellido: <%= @inquilino.apellido %> </p>
        <p class="card-text">telefono: <%= @inquilino.telefono %> </p>
        <p class="card-text">rut:      <%= @inquilino.rut %> </p>
        <p class="card-text">oficina:  <%= @inquilino.espacio.codigo %> </p>


        <a href="#" class="btn btn-primary">Editar</a>
    </div>
</div>